@import "tailwindcss";

#task4bg {
  /* Retro Pixel Pattern Background */
  background-image: url(/public/orig.gif);
  background-repeat: repeat;
  background-size: cover;
  /* Ensure it covers the whole desktop screen */
  min-height: 100vh;
  margin: 0;
}

#task9bg {
  background: url(/public/binary.gif);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#task12bg {
  background: url(/public/T12-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#task10bg {
  background: url(/public/mbg.png);
  background-size: contain;
}
.level-container {
  margin-bottom: 2rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  padding: 14px;
}

.card-body {
  padding: 2rem;
}

.text-left {
  text-align: left;
}

.btn {
  width: 90%;
  height: auto;
}
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}